@import "../../styles/library";
.form-group {
    position: relative;
    border-top: 1px solid $yellow;
    padding: 1em 0.4em 0.4em;
    @include transition(all .3s ease-in-out);
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    .checkbox-field {
        display: block;
        list-style-type: none;
        margin: 0 0.5em 0 0;
        @include breakpoint(xsmall) {
            @include calc( width, '50% - 0.5em');
        }
        @include breakpoint(small) {
            @include calc( width, '30% - 0.5em');
        }
        @include breakpoint(medium) {
            @include calc( width, '25% - 0.5em');
        }
        @include breakpoint(xlarge) {
            @include calc( width, '20% - 0.5em');
        }
    }
    .single-checkbox[type="checkbox"] {
        display: inline-block;
        vertical-align: middle;
        margin: 0.3em 0.5em 0 0;
        width: 1.8em;
        height: 1.8em;
    }
}

.checkbox-form-icon {
    align-items: right;
}