/* Sass variables*/
/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/* box-shadow  
 @include box-shadow(0px, 0px, 0px, 2px, rgba(0, 0, 0, .5)), true; */
.checkbox-field {
  display: flex;
  list-style-type: none;
  width: 180px; }

.form-group {
  position: relative;
  border-top: 1px solid #CCA240;
  padding: 0.4em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.checkbox-form-icon {
  align-items: right; }
