@import "../../styles/library";
.search-sort-section {
    @include flexbox;
    @include flex-direction(column);
    @include transition(all .3s ease-in-out);
    margin: 2.4em 0 1.2em;
    padding: 0 0.6em;
    @include breakpoint(medium) {
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(flex-end);
        margin: 2.4em 0;
    }
}