.favorites-logo {
    height: 2em;
    // cursor: pointer;
}

.logo-wrapper {
    cursor: pointer;
    img {
        display: inline;
        vertical-align: middle;
        margin: 0 0.2em 0 0;
    }
    span {
        display: inline;
        vertical-align: middle;
    }
}