@import '../../styles/library';
body {
    font-size: 62.5%;
    background: $white;
    padding: 0;
    margin: 0;
}

.wrapper {
    letter-spacing: 0.05em;
    font-family: $textFont;
    @include calc( width, '100% - 4em');
    max-width: 1024px;
    margin: 0 auto;
    @include flexbox;
    @include flex-direction(column);
    padding: 1em 2em 1em;
}

main {
    font-size: 1.6em;
    @include flexbox;
    @include flex-direction(column);
    @include breakpoint(medium) {
        @include flex-direction(row);
        @include justify-content(space-between);
    }
}

.container {
    width: 100%;
    @include breakpoint(medium) {
        @include calc( width, '100% - 150px')
    }
}