/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
html,
body,
nav,
main,
footer,
div,
figure,
ul,
li {
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  background: #fff; }

.wrapper {
  letter-spacing: 0.05em;
  font-family: "Open Sans Condensed", sans-serif;
  width: -webkit-calc(100% - 4em);
  width: -moz-calc(100% - 4em);
  width: -o-calc(100% - 4em);
  width: calc(100% - 4em);
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 2em 1em; }

main {
  font-size: 1.6em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 650px) {
    main {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between; } }

.container {
  width: 100%; }
  @media (min-width: 650px) {
    .container {
      width: -webkit-calc(100% - 150px);
      width: -moz-calc(100% - 150px);
      width: -o-calc(100% - 150px);
      width: calc(100% - 150px); } }

a {
  text-decoration: none;
  color: #030303; }

.btn-link {
  color: #030303;
  line-height: 2em; }
  .btn-link:hover {
    text-decoration: underline; }
