@import '../../styles/library';
.container {
    @include flexbox;
    @include flex-direction(column);
    @include breakpoint(large) {
        @include flex-direction(row);
        @include justify-content(space-between);
    }
    .main-container {
        width: 100%;
        @include breakpoint(large) {
            @include calc( width, '100% - 20em')
        }
    }
}

.btn-link {
    color: $black;
    line-height: 2em;
    &:hover {
        text-decoration: underline;
    }
}