/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
.search-input {
  outline: none;
  padding: 0.3em 0.5em; }
  .search-input::-webkit-input-placeholder {
    font-family: "Amatic SC", cursive;
    font-size: 1.2em; }
  .search-input:-moz-placeholder {
    font-family: "Amatic SC", cursive;
    font-size: 1.2em; }
  .search-input::-moz-placeholder {
    font-family: "Amatic SC", cursive;
    font-size: 1.2em; }
  .search-input:-ms-input-placeholder {
    font-family: "Amatic SC", cursive;
    font-size: 1.2em; }
