@import '../../styles/library';
.header-wrapper {
    margin: 0 0 1em;
    @include breakpoint(medium) {
        margin: 0 0 2em;
    }
    .logo-link {
        svg {
            height: 100%;
            width: 7em;
            @include transition(all .3s ease-in-out);
            @include breakpoint(small) {
                width: 30vw;
            }
            @include breakpoint(medium) {
                width: 25vw;
            }
            @include breakpoint(large) {
                width: 20em;
            }
        }
        .st1,
        .leaf {
            fill: $green;
        }
    }
}