/* Sass variables*/
/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
@font-face {
  font-family: 'Mona-Free';
  src: local("MyFont"), url("../../fonts/Mona-Free.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.logo-link svg {
  height: 100px;
  width: 100%; }

.logo-link .st1,
.logo-link .leaf {
  fill: #7A712F; }
