/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
@font-face {
  font-family: 'Mona-Free';
  src: local("MyFont"), url("../../fonts/Mona-Free.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.logo-link .logo {
  height: 100px;
  width: 100%; }
