@import '../../styles/library';
.header-wrapper {
    margin: 0.6em 0 1.2em;
    @include breakpoint(medium) {
        margin: 1.2em 0 2.4em;
    }
    .logo-link {
        svg {
            height: 100%;
            width: 15em;
            @include transition(all .3s ease-in-out);
            @include breakpoint(small) {
                width: 37vw;
            }
            @include breakpoint(medium) {
                width: 35vw;
            }
            @include breakpoint(large) {
                width: 22em;
            }
        }
        .st1,
        .leaf {
            fill: $green;
        }
    }
}