@import '../../styles/library';
@font-face {
    font-family: 'Mona-Free';
    src: local('MyFont'), url('../../fonts/Mona-Free.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo-link {
    svg {
        height: 100px;
        width: 100%;
    }
    .st1,
    .leaf {
        fill: $green;
    }
}
