/* Sass variables*/
/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/* box-shadow  
 @include box-shadow(0px, 0px, 0px, 2px, rgba(0, 0, 0, .5)), true; */
.gift-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  border: 1px solid black;
  width: 22%;
  margin: 0.5em; }
  .gift-wrapper .gift-photo-wrap {
    width: 100%;
    height: 13em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    overflow: hidden; }
  .gift-wrapper .gift-content-wrap {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0.5em; }
    .gift-wrapper .gift-content-wrap .gift-heading {
      word-break: keep-all;
      letter-spacing: 0.075em;
      line-height: 1.25em;
      font-weight: 400;
      margin: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      font-size: 18px; }
      @media (max-width: 1200px) {
        .gift-wrapper .gift-content-wrap .gift-heading {
          font-size: 18px; } }
      @media (max-width: 1024px) {
        .gift-wrapper .gift-content-wrap .gift-heading {
          font-size: 1.5vw; } }
      @media (max-width: 768px) {
        .gift-wrapper .gift-content-wrap .gift-heading {
          font-size: 2vw; } }
      @media (max-width: 640px) {
        .gift-wrapper .gift-content-wrap .gift-heading {
          font-size: 2.5vw; } }
      @media (max-width: 320px) {
        .gift-wrapper .gift-content-wrap .gift-heading {
          font-size: 12px; } }
  .gift-wrapper .control-btns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    background: #CCA240;
    padding: 0.5em; }
