@import '../../styles/library';
.gift-wrapper {
    @include flexbox;
    @include flex-direction(column);
    @include align-content(flex-start);
    border: 1px solid $aqua;
    @include calc( width, '50% - 1.4em');
    margin: 0.6em;
    @include transition(all .3s ease-in-out);
    @include breakpoint(small) {
        @include calc( width, '33% - 1.4em');
    }
    @include breakpoint(xlarge) {
        @include calc( width, '25% - 1.4em');
    }
    .gift-photo-wrap {
        width: 100%;
        height: 15em;
        margin: 1em;
        @include calc( width, '100% - 2em');
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        overflow: hidden;
        @include breakpoint(medium) {
            margin: 1em 2em;
            @include calc( width, '100% - 4em');
        }
    }
    .gift-content-wrap {
        @include flex(1 0 auto);
        padding: 0.5em;
        .gift-heading {
            display: block;
            @include gift-heading;
            svg {
                display: inline-block;
                vertical-align: middle;
                @include breakpoint(medium) {
                    display: none;
                }
            }
        }
    }
    .control-btns {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(flex-end);
        @include bread-link;
        border-top: 1px solid $aqua;
        margin: 0.6em 0 0;
        .btn-link {
            display: block;
            padding: 0.5em 0 0.5em 0.5em;
            text-align: left;
            @include calc( width, '100% - 0.5em');
            svg {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .btn-link:nth-child(1) {
            display: none;
            @include breakpoint(medium) {
                display: block;
            }
        }
        .btn-link:nth-child(2) {
            @include transparent-backgound($aqua, 0.5);
        }
    }
}