@import '../../styles/library';
.btn-group {
    @include flexbox;
    @include flex-direction(column);
    margin: 1em 0;


    @include breakpoint(medium) {
        // @include flex-direction(row);
        // @include justify-content(space-between);
    
   
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        text-align: center;
        grid-gap: .4em;

        & .wide{
      
        grid-column-end: span 2;
              
        }

        // @media all and (min-width: $bp-small-3) {
        //   grid-template-columns: repeat(5, 1fr);
        //   border-bottom: 1px solid $color-nav-border;
        //   margin: 0 1rem 0 1rem;
        //   align-items: flex-start;
        //   justify-content: center;
        // }
      
        // @media all and (min-width: $bp-large-2) {
        //   grid-template-columns: repeat(5, 160px);
        // }
    //   }
    }
}

.filter-btn {
    background:$yellow;
    font-family: $linkFont;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: 0.08em;
    width: 100%;
    height:100px;
        // margin:.2em;
    // padding: 0.3em 0.5em;
}
