/* Sass variables*/
/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .category-container .wide {
      grid-column-end: span 2; } }

.category-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #CCA240;
  border: 4px solid #fff;
  border-bottom: none;
  padding: 0.3em 0.5em;
  width: 100%;
  height: 100px;
  word-break: break-all;
  letter-spacing: 0.075em;
  line-height: 1.25em;
  font-weight: 400;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px; }
  @media (max-width: 1200px) {
    .category-item {
      font-size: 24px; } }
  @media (max-width: 1024px) {
    .category-item {
      font-size: 2.7vw; } }
  @media (max-width: 768px) {
    .category-item {
      font-size: 3.2vw; } }
  @media (max-width: 640px) {
    .category-item {
      font-size: 5vw; } }
  @media (max-width: 320px) {
    .category-item {
      font-size: 18px; } }
