@import '../../styles/library';
.btn-goup {
    @include flexbox;
    @include flex-direction(column);
    margin: 1em 0;
    @include breakpoint(medium) {
        @include flex-direction(row);
        @include justify-content(space-between);
    }
}

.filter-btn {
    padding: 0.3em 0.5em;
    font-family: $linkFont;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: 0.08em;
    width: 100%;
}