@import "../../styles/library";
.form-container {
    margin: 1.2em 0;
    padding: 1.2em;
    p {
        width: 90%;
        max-width: 35em;
        margin: 0 auto;
        text-align: center;
    }
}