@import '../../styles/library';
.single-gift-wrapper {
    @include flexbox;
    @include flex-direction(column);
    .bread-crumbs {
        display: block;
        margin: 0 0 1.2em;
        span {
            font-size: 1.2em;
            @include breakpoint(small) {
                font-size: 1.4em;
            }
        }
        a {
            display: inline-block;
            vertical-align: middle;
            span,
            svg {
                display: inline-block;
                vertical-align: middle;
                stroke: $blue;
                color: $blue;
            }
        }
        span:nth-child(2) {
            display: inline-block;
            vertical-align: middle;
            @include text-truncate;
            width: 8em;
        }
    }
}