/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
.side-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  width: 15em; }
  .side-bar ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0; }
    .side-bar ul li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      margin: 0 0 1em;
      font-size: 0.8em;
      width: 100%; }
      .side-bar ul li a {
        width: 8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0.5em; }
      .side-bar ul li svg {
        padding: 0 0.5em 0;
        stroke: #030303; }
        .side-bar ul li svg:hover {
          stroke: #AB535B;
          cursor: pointer; }
      .side-bar ul li .favorites-logo {
        margin: 0 0.5em 0 0; }
