@import '../../styles/library';
.side-bar {
    @include flexbox;
    @include justify-content(flex-end);
    width: 15em;
    ul {
        @include flexbox;
        @include flex-direction(column);
        padding: 0;
        margin: 0;
        li {
            @include flexbox;
            @include align-items(center);
            margin: 0 0 1em;
            font-size: 0.8em;
            width: 100%;
            a {
                width: 8em;
                @include text-truncate;
                margin: 0 0.5em;
            }
            svg {
                padding: 0 0.5em 0;
                stroke: $black;
                &:hover {
                    stroke: $red;
                    cursor: pointer;
                }
            }
            .favorites-logo {
                margin: 0 0.5em 0 0;
            }
            // .btn-link {
            //     text-decoration: none;
            //     color: $black;
            //     &:hover {
            //         text-decoration: underline;
            //     }
            // }
        }
    }
}