/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/* box-shadow  
 @include box-shadow(0px, 0px, 0px, 2px, rgba(0, 0, 0, .5)), true; */
.gift-generator-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.gift-generator-btn {
  border: 1px solid #7A712F;
  background: rgb(red(#7A712F), 113, 47 );
  background: rgba(122, 113, 47, 0);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0.3em 0.5em;
  font-family: "Amatic SC", cursive;
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 0.08em;
  width: 60%;
  height: 50px; }
  .gift-generator-btn svg {
    margin-left: .2em; }
  .gift-generator-btn:hover {
    background: rgb(red(#7A712F), 113, 47 );
    background: #7a712f;
    color: white; }
    .gift-generator-btn:hover svg {
      stroke: white;
      margin-left: .2em; }
