@import "../../styles/library";
.gift-generator-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    @include flex-center();
}

.border {
    border: 1px solid $yellow;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.gift-generator-btn {
    border: 1px solid $yellow;
    @include transparent-backgound($yellow, 1);
    svg {
        margin-left: 0.2em;
    }
    &:hover {
        @include transparent-backgound($yellow, 0);
        color: $black;
        svg {
            stroke: $black;
            margin-left: 0.2em;
        }
    }
    @include flex-center();
    @include category-btn;
    padding: 0.3em 0.5em;
    margin-top: 1em;
    width: 60%;
    height: 60px;
}

.to-top-link {
    position: fixed;
    bottom: 1em;
    right: 1em;
    svg {
        stroke: $blue;
    }
}

.intro-text {
    position: relative;
    border: 1px solid $blue;
    @include flex-center;
    @include flex-direction(column);
    padding: 1.2em;
    margin: 0 auto;
    @include calc( width, '100% - 3.8em');
    p {
        width: 100%;
        max-width: 40em;
        @include bread-link;
        text-align: center;
        margin: .6em 0;
    }
    .leaf-right {
        width: 50px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 80%;
    }
    .leaf-left {
        width: 50px;
        position: absolute;
        top: 40px;
        left: 15%;
    }
}

.intro-text-outer {
    background-image: url("../../media/logo/leafBackground_1.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: top 1.2em left 1.2em;
    border: 1px solid $blue;
    padding: 1.2em;
    margin: 0 auto;
    @include calc( width,
    '100% - 3.8em');
    .intro-text-inner {
        background-image: url("../../media/logo/leafBackground_2.png");
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: bottom 0.6em right 0.6em;
        @include flex-center;
        @include flex-direction(column);
        width: 100%;
        p {
            padding-left: 12%;
            padding-right: 12%;
            @include bread-link;
            text-align: center;
            margin: .6em 0;
        }
    }
}